/* Highlighting rules for nav menu items */
.side-bar {
    margin-bottom: 64px;
}

.navbar a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.navbar-header {
    width: 100%;
}

.navbar-nav a {
    width: 100%;
    display: inline-block;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-nav a.active ,
.navbar-nav a.active:hover,
.navbar-nav a.active:focus {
    background-image: none;
    background-color: #4189C7;
    color: white;
}

.navbar-toggler {
    border-color: #333;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-toggler:hover {
    color: white;
}

.navbar .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0;
}

.navbar ul {
    float: none !important;
    position: relative;
    margin-top: 12px;
}
.navbar li {
    float: none!important;
    font-size: 15px;
    width: 100%;
    padding: 4px 8px;
}
.navbar li a {
    padding: 6px 12px 8px 12px;
    border-radius: 4px;
}
.navbar a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    /* On large screens, convert the nav menu to a vertical sidebar */
    .side-bar {
        margin-bottom: 0;
    }

    .navbar {
        height: 100%;
        width: calc(25% - 24px);
    }

    .navbar {
        border-radius: 0;
        border-width: 0;
        height: 100%;
        padding: 8px  0 16px 0;
        display: block;
    }
    .navbar-header {
        float: none;
        padding: 8px 16px;
    }
}
